<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <h1 class="main-header">방배동벨리 사내게임</h1>
        <div class="user-list-wrap">
            <span>참가자</span>
            <span>인원수</span>
            <span class="user-list"></span>
        </div>
        <div class="noti-wrap">
            <div>게임 스타트 시간</div>
            <div>스타트 버튼</div>
        </div>

        <h3 class="noti">*카드를 선택해주세요*</h3>

        <div class="game-wrap">
            <div class="card scissors">가위</div>
            <div class="card rock">바위</div>
            <div class="card paper">보</div>
        </div>
        <div class="chat-wrap">
            <input type="text" name="nickname" id="nickname">
            <input type="text" name="message" id="message">
            <div onclick="sendMessage()" class="send-btn">
                <span>전송</span>
            </div>
        </div>
        <div id="chat-log"></div>
    </main>

</body>
<script src="/socket.io/socket.io.js"></script>
<!-- <script>

    const ws = new WebSocket("ws://localhost:8001");
    //매세지 전송
    ws.onmessage = receiveMessage;
    function sendMessage() { }

    // 메세지 수신
    function receiveMessage(ev) {
        const chat = document.createElement("div");
        const mesaage = document.createTextNode(ev.data);
        chat.appendChild(mesaage);

        const chatLog = document.getElementById("chat-log");
        chatLog.appendChild(chat);
    }

    // 메세지 전송
    function sendMessage() {
        const nickname = document.getElementById("nickname").value
        const message = document.getElementById("message").value
        const fullMessage = `${nickname}: ${message}`

        ws.send(fullMessage)
    }
</script> -->
<script>
    const socket = io.connect('http://localhost:3000', { // ws:// 를 안쓰고 http를 쓴다
        path: '/socket.io', // 서버 path와 일치시켜준다
        transports: ['websocket']
    });
    function sendMessage() {
        let name = document.getElementById("nickname").value;
        let context = document.getElementById("message").value;
        socket.emit('message', {name, context});
    }

    socket.on('usercount', (count) => {
        let userCounter = document.getElementsByClassName('user-list');
        userCounter.innerText = "현재 " + count + "명이 서버에 접속해있습니다.";
    });

    // 메시지 수신시 HTML에 메시지 내용 작성
    socket.on('message', (msg) => {
        let messageList = document.getElementById('chat-log');
        let messageTag = document.createElement("div");
        let nameSpan = document.createElement("span");
        let contextSpan = document.createElement("span");
        
        nameSpan.innerText = msg.name
        messageTag.appendChild(nameSpan);
        contextSpan.innerText = msg.context; 
        messageTag.appendChild(contextSpan);

        messageList.appendChild(messageTag);
    });


</script>

</html>